body {
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
}

#container div {
  border: 0.5px solid rgb(173, 173, 173);
}

button {
  position: absolute;
  padding: 32px;
  margin-left: 23px;
  margin-top: 62px;
}
